/* Temel Ayarlar */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #f0f4f8;
    /* Arka plan rengi */
    color: #333;
    /* Genel yazı rengi */
}

header {
    padding: 20px;
    background: linear-gradient(135deg, #6d83f2, #9a7af2);
    /* Header için degrade arka plan */
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Header gölgesi */
    border-radius: 0 0 15px 15px;
    /* Header alt köşeler için yuvarlatma */
    margin-bottom: 40px;
    /* Header ile içerik arası boşluk */
}

.header-logo-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /* Logoyu yuvarlak yapar */
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    /* Logoya gölge efekti */
}

main {
    padding: 40px 20px;
}

.app-name {
    font-size: 3em;
    margin: 0;
    padding: 10px 0;
    text-transform: uppercase;
    /* Büyük harf */
    letter-spacing: 2px;
    /* Harf arası boşluk */
}

.app-description {
    font-size: 1.2em;
    margin-bottom: 30px;
    font-weight: 300;
    /* İnce font ağırlığı */
}

.app-logo {
    margin-bottom: 30px;
}

.app-logo-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    /* Uygulama logosunu yuvarlak yapar */
    filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.2));
    /* Logoya gölge efekti */
}
 .icon {
            width: 50px;
            height: 50px;
            margin: 10px;
        }

.download-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.download-button img {
    width: 150px;
    height: auto;
    transition: transform 0.3s ease;
    /* Buton üzerine gelindiğinde büyütme efekti */
}

.download-button img:hover {
    transform: scale(1.1);
}

footer {
    background-color: #f1f1f1;
    padding: 10px;
    /* Padding küçültüldü */
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.05);
    /* Gölge küçültüldü */
    font-size: 0.9em;
    /* Yazı boyutu küçültüldü */
}

footer a {
    color: #6d83f2;
    /* Link rengi */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    /* Link üzerine gelindiğinde altını çizme */
}
footer p {
    margin: 0;
    font-size: 0.9em;
    color: #333;
}


/* Duyarlı Tasarım Ayarları */
@media (max-width: 768px) {
    .download-buttons {
        flex-direction: column;
    }

    .app-name {
        font-size: 2.5em;
    }
}
